<html>
<head>
	<title> {% block title %} {% endblock %} </title>
	<style type="text/css">
		* { font-size:30px; font-family:calibri; }
		.nav { background-color:black; }
		.nav a {color:white; text-decoration:none; padding:30px; }

	</style>
</head>
<body>
<center>
	<div class="nav">
		{% if user.is_authenticated %}
			<a href="{% url 'ulogout' %}">Logout</a>
		{% else %}
			<a href="{% url 'usignup' %}">Sign Up</a>
			<a href="{% url 'ulogin' %}">Login</a>
		{% endif %}
	</div>
	{% block content %}
	{% endblock %}
</center>
</body>
</html>